*{
   
    padding: 0;
    margin: 0;
}
.topbar{
    font-family: "Roboto";
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 249, 250);
    padding: 10px 30px;
   
}
.left-part{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.logo{
    color: red;
    font-size: 1.5rem; 
    margin-right: 5px;  
    cursor: pointer;
}
.center-part{
    display: flex;
    align-items: center;
    cursor: pointer;
   
}
.type{
   border-radius:30px;
   border: none;
   padding: 10px 250px 10px 10px
}
.search-logo{
    background-color: lightgrey;
    border-radius: 10px ;
    margin-left: 10px;
    padding:  6px 20px;
   
}
.right-part{
   display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
    cursor: pointer;
    
}
.mic{
    background-color: lightgrey;
    border-radius: 20px ;
    margin-left: 10px;
    padding:  8px 13px;
}
img{
    height: 2rem;
    width: 2rem;
    border-radius: 20px;
}